body {
  background-color: #329ea8;
}

.body {
  display: flex;
  justify-content: center;
}

section {
  padding: 3%;
  width: 40%;
  border: 2px solid grey;
}

h1 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  margin-top: 5%;
}

h2 {
  font-family: 'Questrial', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}
